header{
    font-family: "Splitpoint";
    background-color: #FFFFFF;
}
body{
    background-repeat: repeat;
    background-image: url(images/concrete2.jpg);
    margin-left: 15%;
    margin-right: 15%;
}
nav{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding-left: 0;
}
nav ul{
    list-style: none;
    display: inline-block;
    padding-right: 20%;
    font-family: 'Splitpoint';   
}
nav ul a{
    text-decoration: none;
    color: black;
    font-size: 24px;
}
nav ul a:hover{
    transition: 0.3s;
    color: white;
    background-color: black;
}
main{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
label{
    float: left;
    text-align: right;
    width: 125px;
    padding-right: 2em;
}
input, textarea{
    margin-bottom: 40px;
}
p a{
    color: #000000;
}
footer{
    font-size: small;
    background-color: black;
    padding: 10px;
    margin: auto;
    text-align: center;
    color: white;
}
footer a{
    text-decoration: none;
    color: white;
}
.widthImg100{
    width: 100%;
    height: auto;
}
#images{
    display: block;
    background-color: #FFFFFF;
}
#images img{
    width: 100%;
    height: auto;
}
#images td{
    width: 25%;
}
#upcoming{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
#upcoming tr{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #DDDDDD;
}
#upcoming td{
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000; 
}
#upcoming a{
    color: #000000;
}
#gridContainerHome{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#gridContainerHome img{
    width: 100%;
}
#gridContainerAbout{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
}
#gridContainerAbout img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
#gridContainerVideos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
#gridContainerVideos video{
    width: 100%;
    height: auto;
}
#gridContainerVideos h4{
    text-align: center;
}
#betterCallGarrett{
    display: block;
    width: 80%;
    aspect-ratio: 16/9;
    background-color: #000000;
    margin: 20px auto;
}
#watchingTheWorldBurn{
    width: 50%;
    margin-left: 25%;
}
#watchingTheWorldBurn video{
    width: 100%;
    height: auto;
}
#watchingTheWorldBurn h4{
    text-align: center;
}
#submit{
    margin-left: 160px;
}
@font-face {
    font-family: "Splitpoint";
    src: url(spfont);
}
@media only screen and (max-width: 37.5em){
    nav{
        padding: 0;
    }
    nav ul li{
        display: block;
        margin: 0;
        border: #330000 solid 2px;
    }
    nav ul li a{
        display: block;
    }
    #gridContainerHome{
        display: grid;
        grid-template-columns: 1fr;
    }
    #gridContainerAbout{
        display: grid;
        grid-template-columns: 1fr;
    }
    #gridContainerVideos{
        display: grid;
        grid-template-columns: 1fr;
    }
    #watchingTheWorldBurn{
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        margin: 10%;
    }
}